@using ExDrive.Models
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chaster= "UTF-8">
        <link rel="stylesheet" href="../wwwroot/css/site.css">
        <link href="https://css.gg/copy.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    </head>
        <body>
        <header class="header">
            <div class="container">
               
            </div>
        </header>

         <script>
             window.addEventListener('contextmenu', (e) => {
                 e.preventDefault();
             });
        
             function copyToClipboard() {
			    const str = document.querySelector('.alert-success').id;
			    const el = document.createElement('textarea');
			    
                el.value = str;
			    el.setAttribute('readonly', '');
			    
                el.style.position = 'absolute';
			    el.style.left = '-9999px';
			   
                document.body.appendChild(el);
			    
                el.select();
			    
                document.execCommand('copy');
			    document.body.removeChild(el);
		     }
         </script>

 <div class="intro">
    <div class="container_background">
         <div class="imgcontainer">
               <img src="~/css/images/ExDriveLogoVer2.gif" alt="Avatar" class="avatar">
         </div>
    @model UploadInstance
    <form asp-controller="Storage" asp-action="SingleTempFileHandler" enctype="multipart/form-data">
        <div class="upload-btn-wrapper_upload">
        <button class="btn_upload">Upload a file</button>
        <input type="file" name="myfile" style="height:47px;width:150px;"/>
     	</div>
         @if (TempData["AlertMessage"] != null)
                {
                    <div class="alert alert-success" id=@TempData["AlertMessage"]>
                    <a href="@TempData["AlertMessage"]" style="color:#eeeeee; font-size:14px;" title="Link for your file">@TempData["AlertMessage"]</a>
                    <i class="gg-copy" style="margin-left:355px" title="Copy to clipboard" onclick="copyToClipboard()"></i>
                    </div>
                }
     	<div class="upload-btn-wrapper_submit"title="Submit your choice">
        <button class="btn_submit" type="submit">Submit your choice</button>
     	</div>
    </form>
     <div class="upload-btn-wrapper_telegram" title="Continue with Telegram" style="width:140px;height:70px;">
        <label class="btn_telegram">
        <a href="https://t.me/ExDriveBot" style="color:#eeeeee; font-family:Lato; font-style:normal;" >Telegram</a>
        </label>
     </div>
        <div class="telegram-button-margin"></div>
     </div> 
</div>
    </body>
</html>