@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chaster= "UTF-8">
        <link rel="stylesheet" href="../wwwroot/css/site.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="header">
            <div class="container">
               
            </div>
        </header>
        <div class="intro">
                 <div class="container">
                     <h1 class="intro__title">Welcome to</h1>
                     <div class="imgcontainer">
    <img src="~/css/images/ExDrivePatriot.png" alt="Avatar" class="avatar">
    <div> 
        <form asp-controller="Storage" asp-action="SingleFile" 
        enctype="multipart/form-data" method="post">
        <input type="file" name="file" />
        <button type="submit">Submit</button>

    </form>
  <button class="button button1">Upload file</button>
  </div> 
  <div>
<button class="button button2">Telegram</button>
</div>
                    </div> 
                 </div>
            </div> 
    </body>
</html>
