<!DOCTYPE html>
<html lang="en">
<head>
    <meta chaster="UTF-8">
    <link rel="stylesheet" href="../wwwroot/css/aboutus.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <div class="window">
    <div class="team">
    <h1><b>Ми - команда ExDrive!</b></h1>
    </div>
    <div class="descript">
        <ul>
    <li><p>Ми забезпечуємо вам можливість віддалено передавати файли за допомогою <b>URL-посилань</b> на них,які ви отримуєте
        після завантаження їх на сайт. </p></li>
   <li><p>Наша унікальність - змога передавати файли у <b>Telegram бот</b>,який в свою чергу видасть вам посилання,з яким 
         можете поділитись з колегами по роботі,друзями чи родичами.</p></li>
     <li><p>Головна місія - ваша довіра та впевненість в нашому продукті,який ми вам представляємо.</p>
     <li><p>За допомогою платної підписки ви зможете <b>збільшити об'єм інформації</b>,яку ви можете <b>зберігати на власному
         сховищі</b>,термін зберігання даних на якому є тимчасовим.</p></li>
   <li> <p>Базові сервіси є абсолютно <b>безкоштовними</b>.Якщо вам потрібно більше сховища - підписка вирішить цю 
        проблему.</p></li>

    <li><p>Наша команда старається,аби ваші дані були захищеними,задля задоволення ваших потреб.</p></li>
    </ul>
    </div>
    </div>
</body>
</html>
