.team {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

.descript {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-indent: 10px;
    cursor: pointer;
}

.window {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 1200px;
    margin: 10px auto 10px;
    padding: 1px;
    overflow: hidden;
    /* Styles */
    background: #433c3c7e;
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6);
}
