/*Body*/
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.8;
    color: #000000;
    background: url(../css/images/background.png);
    background-size: cover;
}

*,
*:before
:after {
    box-sizing: border-box;
}

/*Container*/
.container {
    
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    position: center;
}

/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.intro__title {
    width: 100%;
    display: block;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

.upload-btn-wrapper_upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    display: block;
    top: 5px;
    width: 149px;
    height: 52px;
}

.btn_upload {
    border: #000000;
    color: #eeeeee;
    background-color: #60b2dcec;
    padding: 8px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0 auto;
    display: block;
    position: center;
    top: 5px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
}

.upload-btn-wrapper_upload:hover .btn_upload {
    background-color: #0aacffec;
}

.upload-btn-wrapper_upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 1px;
    top: 15px;
    opacity: 0;
    text-align: center;
    margin: 0 auto;
    display: block;
    top: 5px;
    cursor: pointer;
}

.upload-btn-wrapper_submit {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    display: block;
    top: 10px;
    width: 207px;
    height: 52px;
}

.btn_logout {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn_submit {
    border: #000000;
    color: #eeeeee;
    background-color: #60b2dcec;
    padding: 8px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 5px auto;
    margin-left: 321px;
    display: block;
    margin: 0 auto;
    display: block;
    top: 10px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
}

.upload-btn-wrapper_submit:hover .btn_submit {
    background-color: #0aacffec;
}

.file-form {
    background-color: azure;
    width: 150px;
    height: 150px;
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 120px;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.upload-btn-wrapper_telegram {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    display: block;
    top: 15px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.btn_telegram {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    padding: 10px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 1px auto;
    display: block;
    margin: 0 auto;
    display: block;
    top: 15px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
}

.btn_telegram:hover {
     background-color: #0aacffec;
}
/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 15%;
    border-radius: 10%;
}

/*Header/
/<h1 > ExDrive</h1 > */
.header {
    padding-top: 0px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
