/*Body*/
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.8;
    color: #000000;
    background: url(../css/images/background.png);
    background-size: cover;
}

*,
*:before
:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.intro__title {
    width: 100%;
    display: block;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

.upload-btn-wrapper_upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    display: block;
    top: 5px;
    width: 149px;
    height: 52px;
}

.btn_upload {
    border: #000000;
    color: #eeeeee;
    background-color: #60b2dcec;
    padding: 8px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0 auto;
    display: block;
    position: center;
    top: 5px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
}

.ccontext-menu {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 200px;
}

.ccontext-menu__item1 {
    cursor: pointer;
    padding: 8px 15px;
}

    .ccontext-menu__item1:hover {
        background-color: #f8f8f8;
    }

.ccontext-menu__item2 {
    cursor: pointer;
    padding: 8px 15px;
}

    .ccontext-menu__item2:hover {
        background-color: #f8f8f8;
    }

.ccontext-menu__item3 {
    cursor: pointer;
    padding: 8px 15px;
}

    .ccontext-menu__item3:hover {
        background-color: #f8f8f8;
    }

.ccontext-menu__item4 {
    cursor: pointer;
    padding: 8px 15px;
}

    .ccontext-menu__item4:hover {
        background-color: #f8f8f8;
    }

.ccontext-menu__divider {
    border-bottom: 1px solid #eeeeee;
    margin: 10px 0;
}

.upload-btn-wrapper_upload:hover .btn_upload {
    background-color: #0aacffec;
}

.upload-btn-wrapper_upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 1px;
    top: 15px;
    opacity: 0;
    text-align: center;
    margin: 0 auto;
    display: block;
    top: 5px;
    cursor: pointer;
}

.upload-btn-wrapper_submit {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    display: block;
    top: 10px;
    width: 207px;
    height: 52px;
}

.btn_logout {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn_submit {
    border: #000000;
    color: #eeeeee;
    background-color: #60b2dcec;
    padding: 8px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 5px auto;
    margin-left: 321px;
    display: block;
    margin: 0 auto;
    display: block;
    top: 10px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
}

.upload-btn-wrapper_submit:hover .btn_submit {
    background-color: #0aacffec;
}

div.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 120px;
}

    div.item input[type=submit] {
        /* To correctly align image, regardless of content height: */
        vertical-align: top;
        display: inline-block;
        /* To horizontally center images and caption */
        text-align: center;
        /* The width of the container also implies margin around the images. */
        width: 120px;
    }

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.alert-success {
    border: #000000;
    color: #eeeeee;
    background-color: #60b2dcec;
    padding: 10px 10px;
    border-radius: 80px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 5px auto;
    margin-left: 321px;
    display: block;
    margin: 0 auto;
    display: block;
    top: 10px;
    margin-bottom:5px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
}
.alert-success:hover {
    background-color: #0aacffec;
}
.alert-success-button {
    border: #000000;
    color: #eeeeee;
    background-color: #60b2dcec;
    padding: 8px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 5px auto;
    margin-left: 321px;
    display: block;
    position:relative;
    margin: 0 auto;
    top: 10px;
    margin-bottom:5px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
}
.alert-success-button:hover {
    background-color: #0aacffec;
}

.upload-btn-wrapper_telegram {
    position: center;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    display: block;
    margin-top: 1px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.btn_telegram {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    padding: 10px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 14px auto;
    display: block;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
    width: 135px;
}

    .btn_telegram:hover {
        background-color: #0aacffec;
    }

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 38%;
    border-radius: 10%;
}

.not_welcome_up {
    height: 5px;
}

.down_a {
    height: 35px;
}

/*Header/
/<h1 > ExDrive</h1 > */
.header {
    padding-top: 0px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.context-menu {
    width: 200px;
    height: 132px;
    background: #a636ad75;
}

.getlink {
    height: 30px;
    width: 200px;
    border: none;
    background-repeat: no-repeat;
    filter: drop-shadow(0 1px 1px #000a);
    transition: .3s ease;
}

    .getlink:hover {
        filter: drop-shadow(0 5px 5px #0008);
        cursor: pointer;
    }

.follow {
    height: 30px;
    width: 200px;
    border: none;
    background-repeat: no-repeat;
    filter: drop-shadow(0 1px 1px #000a);
    transition: .3s ease;
}

    .follow:hover {
        filter: drop-shadow(0 5px 5px #0008);
        cursor: pointer;
    }

.rename {
    height: 30px;
    width: 200px;
    border: none;
    background-repeat: no-repeat;
    filter: drop-shadow(0 1px 1px #000a);
    transition: .3s ease;
}

    .rename:hover {
        filter: drop-shadow(0 5px 5px #0008);
        cursor: pointer;
    }

.delete {
    height: 30px;
    width: 200px;
    border: none;
    background-repeat: no-repeat;
    filter: drop-shadow(0 1px 1px #000a);
    transition: .3s ease;
}

    .delete:hover {
        filter: drop-shadow(0 5px 5px #0008);
        cursor: pointer;
    }

.textFile {
    display: block;
    min-height: 600px;
    height: fit-content;
    width: 600px;
    text-align: left;
    text-justify: inter-word;
    background-color: aliceblue;
    margin: auto;
    box-shadow: inherit;
}

.container_background {
    width: 440px;
    height: fit-content;
    background-color: #ffffff;
    position: center;
    margin: auto;
    border-radius: 16px;
}
