/*Body*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #000000;
    background: #808080 fixed;
}

*,
*:before
:after {
    box-sizing: border-box;
}

/*Container*/
.container {
    background: #808080 center;
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    position: center;
}

/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.intro__title {
    width: 100%;
    display: block;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

.upload-btn-wrapper_upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn_upload {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    padding: 8px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: Lato;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.upload-btn-wrapper_upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 1px;
    top: 15px;
    opacity: 0;
    text-align: center;
}

.upload-btn-wrapper_submit {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn_submit {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    padding: 8px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: Lato;
    text-align: center;
    margin: 5px auto;
    margin-left: 321px;
    display: block;
}

.upload-btn-wrapper_telegram {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn_telegram {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    padding: 10px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: Lato;
    text-align: center;
    margin: 1px auto;
    display: block;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 15%;
    border-radius: 10%;
}

/*Header/
/<h1 > ExDrive</h1 > */
.header {
    padding-top: 0px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
