
.storage__window {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 400px;
    margin: 10px 10px;
    padding: 50px;
    overflow: hidden;
    height: 450px;
    margin-left: 10px;
    margin-top: 0.1px;
    /* Styles */
    background: #150f6828;
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6);
}
/*upload button*/
.upload-btn-wrapper {
    position: center;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.btn_upload {
    border: 2px solid dimgrey;
    color: dimgrey;
    background-color: lightskyblue;
    padding: 8px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    display: block;

}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: center;
    left: 1px;
    top: 15px;
    opacity: 0;
}
.btn_delete {
    border: 2px solid dimgrey;
    color: dimgrey;
    background-color: lightskyblue;
    padding: 8px 20px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: Lato;
    top: 30px;
   /* font-weight: bold;*/
    margin: 0 auto;
    display: block;
}
.delete-wrapper input[type=file] {
    font-size: 100px;
    position: center;
    left: 1px;
    top: 30px;
    opacity: 0;
}
