
.storage__window {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 1255px;
    margin: 10px 10px;
    padding: 20px;
    overflow: hidden;
    height: 445px;
    margin-left: 5px;
    margin-top: 0.1px;
    /* Styles */
    background: #150f6828;
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6);
}
/*upload button*/

.btn__upload {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    border-radius: 80px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.btn__upload:hover {
    background-color: #0aacffec;
}

.btn__upload input[type=file] 
{
}
.btn__heart {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    border-radius: 80px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

    .btn__heart:hover {
        background-color: #0aacffec;
    }

    .btn__heart input[type=file] {
    }
.btn__delete {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    border-radius: 80px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}
    .btn__delete:hover {
        background-color: #0aacffec;
    }

.btn__delete input[type=file] {
}

/*.storage__buttons {
    padding: 8px 10px;
    max-width: 150px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: Lato;
    top: 60px;
}*/
/*    margin-bottom: 5px;
    margin-top: 1px;*/
.search__button {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    border-radius: 80px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 5px;
}
    .search__button:hover {
        background-color: #0aacffec;
    }

.btn-icon {
    padding-top: 0;
    padding-bottom: 0;
}

.btn > .icon {
    position: relative;
    left: -.75rem;
    display: inline-block;
    padding: .375rem .75rem;
    background: #0aacffec;
    border-radius: .25rem 0 0 .25rem;
}
.btn__pdf {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    border-radius: 80px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

    .btn__pdf:hover {
        background-color: #0aacffec;
    }

    .btn__pdf input[type=file] {
    }
.btn__doc {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    border-radius: 80px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

    .btn__doc:hover {
        background-color: #0aacffec;
    }

    .btn__doc input[type=file] {
    }
.btn__jpg {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    border-radius: 80px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

    .btn__jpg:hover {
        background-color: #0aacffec;
    }

    .btn__jpg input[type=file] {
    }
.btn__txt {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    border-radius: 80px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

    .btn__txt:hover {
        background-color: #0aacffec;
    }

    .btn__txt input[type=file] {
    }
.btn__gif {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    border-radius: 80px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

    .btn__gif:hover {
        background-color: #0aacffec;
    }

    .btn__gif input[type=file] {
    }
.btn__png {
    border: #000000;
    color: #e2e2e2;
    background-color: #60b2dcec;
    border-radius: 80px;
    animation-duration: 1s;
    transition: all 1.5s;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

    .btn__png:hover {
        background-color: #0aacffec;
    }

    .btn__png input[type=file] {
    }