<!DOCTYPE html>
<html lang="en">
<head>
    <meta chaster="UTF-8">
    <link rel="stylesheet" href="../wwwroot/css/storage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body> @*style="overflow:hidden"*@
    <form asp-controller="Storage" asp-action="SinglePermFile" enctype="multipart/form-data">
        <div class="upload-btn-wrapper_upload">
        <button class="btn_upload">Upload a file</button>
        <input type="file" name="myfile" />
     	</div>
     	<div class="upload-btn-wrapper_submit">
        <button class="btn_submit">Submit your choice</button>
     	</div>
    </form>
        <button class="btn__upload" type="submit" asp-controller="Storage" asp-action="SinglePermFile" enctype="multipart/form-data">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
            <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
            <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
        </svg>
        </button>
      <button class="btn__heart">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
</svg>
    </button>
    @using (Html.BeginForm("Delete", "Storage"))
    {
        <button class="btn__delete" type="submit" value="delete">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
        </svg>
    </button>
    }
    @using (Html.BeginForm("Search", "Storage"))
    {
            <input type="search" placeholder="Enter file name" value="@ViewData["GetFiles"]" name="searchString" style="width:500px; margin-left:20px; margin-top: 5px;" />
            <input type="submit" value="Search" class="search__button" />
    }
    <div class="storage__window">
        @model List<NameInstance>
   @using (Html.BeginForm("FileClick", "Storage"))
   {
        int count = 0;
        @foreach (var row in @Model)
        {
            if (row.Name != null)
                {
                    string type = "";
        @for (int i = row.Name.LastIndexOf('.') + 1; i < row.Name.Length; i++)
        {
            type += row.Name.ElementAt(i);
        }

        string imagetoview = "";
        switch(type)
        {
            case "png":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/png.png";
            else
                imagetoview = "~/css/images/pngon.png";
                break;
            case "jpg":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/jpg.png";
            else
                imagetoview = "~/css/images/jpgon.png";
                break;
            case "pdf":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/pdf.png";
            else
                imagetoview = "~/css/images/pdfon.png";
                break;
            case "mp4":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/mp4.png";
            else
                imagetoview = "~/css/images/mp4on.png";
                break;
            case "txt":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/txt.png";
            else
                imagetoview = "~/css/images/txton.png";
                break;
            case "mp3":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/mp3.png";
            else
                imagetoview = "~/css/images/mp3on.png";
                break;
            case "doc":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/doc.png";
            else
                imagetoview = "~/css/images/docon.png";
                break;
            case "docx":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/docx-file.png";
            else
                imagetoview = "~/css/images/docx-fileon.png";
                break;
            case "xls":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/xls.png";
            else
                imagetoview = "~/css/images/xlson.png";
                break;
            case "xlsx":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/xlsx.png";
            else
                imagetoview = "~/css/images/xlsxon.png";
                break;
            case "3gp":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/3gp-file.png";
            else
                imagetoview = "~/css/images/3gp-fileon.png";
                break;
            case "avi":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/avi.png";
            else
                imagetoview = "~/css/images/avion.png";
                break;
            case "mov":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/mov.png";
            else
                imagetoview = "~/css/images/movon.png";
                break;
            case "ogv":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/ogv.png";
            else
                imagetoview = "~/css/images/ogvon.png";
                break;
            case "webm":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/webm.png";
            else
                imagetoview = "~/css/images/webmon.png";
                break;
            case "ogg":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/ogg.png";
            else
                imagetoview = "~/css/images/oggon.png";
                break;
            case "zip":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/zip.png";
            else
                imagetoview = "~/css/images/zipon.png";
                break;
            case "gif":
            if(row.IsSelected == false)
                imagetoview = "~/css/images/gif.png";
            else
                imagetoview = "~/css/images/gifon.png";
                break;
            default:
                imagetoview = "";
                break;

        }
        <button type="submit" name="afile" value=@count style="background-color:transparent; border-block-color:transparent; border-bottom-color:transparent; border-left-color:transparent; border-right-color:transparent">
        <div class="item">
                <img src="@Url.Content(imagetoview)" runat="server" style="width: 100px; height: 100px"/>
                <span class="caption">@row.Name</span> 
        </div>
        </button>
        count++;
                }
        }
    }
      
    </div>
   
</body>
</html>

