@model string[]


<div class="textFile">
    <div style="height:1px">
    </div>

    <div class="txt">
        @foreach (var text in @Model)
        {
            
            <div>
                @text
            </div>

        }
    </div>

</div>

