@*@model List<string>*@


@*<div class="textFile">
    <div style="height:1px">
    </div>

    <div class="txt">
    @foreach (var text in @Model)
    {

    <div>
    @text
    </div>

    }
    </div>

    </div>*@

<div class="textFile">
    <form action="@Url.Action("ReadFiles")" method="post">
        <input type="submit" class="btn btn-success" value="Render" />
    </form>
</div>