<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="629145600" />
			</requestFiltering>
		</security>
	<aspNetCore processPath="dotnet" arguments=".\exdrive-web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
     <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
  </aspNetCore>
	</system.webServer>
</configuration>
